body {
  background-image: url('media/bug-background.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  margin: 0;
}

h1 {
  color: navy;
  margin-left: 20px;
}
