p {
  font-family: "WorkSans-Italic", sans-serif;
}

* {
  box-sizing: border-box;
}

nav{
  font-family: "WorkSans-Italic", sans-serif;
  font-size: 1em;
  padding-top: 2em;
  padding-left: 2em;
  top: 0;
  position: sticky;
}

/* div{
  border: 3px solid black;
} */

.active{
  color: black;
  background-color: #fce500;
  font-weight: bold;
  font-style: italic;
  text-decoration: none;
  padding: 0.5em;
  border: 0.2em solid black;
}

.nav-button{
  color: white;
  background-color: black;
  font-weight: bold;
  font-style: italic;
  text-decoration: none;
  padding: 0.5em;
}

.nav-button:hover{
  color: #fce500;
}

.background {
  background-image: url('media/bug-background-trans.jpeg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100vh;
  margin: 0;
}

#logo-description-row{
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-between;
}

.logo {
  max-width: 300px;
  height: auto;
  padding-top: 2em;
  padding-left: 3em;
  user-drag: none;
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

/* .test-div{
  border: 7px solid black;
  display: flex;
} */

.callout-box {
  border: 7px solid black;
  background: white;
  border-radius: 3em;
  width: fit-content;
  height: fit-content;
}

.callout-text{
  text-align: center;
  font-size: 1.5em;
  font-weight: lighter;
  line-height: 1em;
  padding-left: 1em;
  padding-right: 1em;
  font-style: italic;
}

#main-description{
  margin-right: 2em;
  margin-top: 3em;
}

.opxdb-caption
{
  width: 40%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2em;
}

.opxdb-main
{
  max-width: 100%;
  height: auto;
  text-align: center

}

.opxdb-spreads{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.opxdb-spreads div{
  width: 400px;
  margin: 1em;
  padding: 1em;
  text-align: center;
}

/* .instagram-media{
  margin-top:0;
  margin-bottom:0;
  margin-left:auto;
  margin-right:auto;
} */

footer{
  font-family: "WorkSans-Italic", sans-serif;
  font-weight: bold;
  font-size: 1em;
  display: flex;
  padding-bottom: 1em;
  padding-left: 2em;
  padding-right: 2em;
  align-items: center;
  justify-content: space-between;
}

#envelope{
  color: white;
  background-color: black;
  padding: 0.5em;
  height: auto;
}

#envelope:hover{
  color: #fce500;
}

.email-text{
  font-style: italic;
  text-decoration: none;
  color: white;
}

.email-text:hover{
  color: #fce500;
}

.fa:hover {
  color: #fce500;
}

.fa {
  padding: 0.5em;
  height: auto;
  text-decoration: none;
}

.fa-instagram{
  background: black;
  color: white;
}

#copyright{
  color: white;
  background-color: black;
  padding: 0.5em;
  height: auto;
  font-style: italic;
  text-decoration: none;
}

#copyright:hover {
  color: #fce500;
}
/* Start https://www.cursors-4u.com */ * {cursor: url(https://cur.cursors-4u.net/nature/nat-9/nat818.cur), auto !important;} /* End https://www.cursors-4u.com */
